*{
  margin: 0 ;
  padding: 0;
}

/* common style */
.btn-primary{
  border-radius: 8px;
  background: #E55473; 
  /* display: inline-flex; */
  padding: 15px 25px;
  /* align-items: flex-start; */
  gap: 10px;
  border: 0;
  color: #FFF;
font-size: 15px;
font-weight: 550;
}
body{
  font-family: 'Lato', sans-serif;
}

.description{
  color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-weight: 400;
line-height: 25px;
margin: 28px 0;
max-width: 430px;
}

section{
  margin: 0 160px;
}



/* style for header */

.header{
  background: rgba(229, 84, 115, 0.10);
  display: flex;
  justify-content: space-between;

}
.header-content{
  margin: 110px 0 120px 160px;
  max-width: 470px;
}

.header-title{
  color: #272727;
font-size: 56px;
font-weight: 900;
}



.bg-img{
  width: 430px;
height: 570px;
margin: 35px 130px 0 0;
}

/* style for main */
#sec-description{
  text-align: center ;
  margin: 24px  auto 48px auto;
}
.sec-title{
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-top: 150px;
}

.flower-tree-sec{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.flower-tree img{
  width: 220px;
  height: 290px;
  padding: 70px 45px 0 45px;
}
#tree-1{
  border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
#tree-2{
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
#tree-3{
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.flower-tree{
  color: #272727;
text-align: center;
font-size: 18px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin: 30px 0;
}