*{
  margin: 0 ;
  padding: 0;
}

/* common style */
.btn-primary{
  border-radius: 8px;
  background: #E55473; 
  padding: 15px 25px;
  gap: 10px;
  border: 0;
  color: #FFF;
font-size: 15px;
font-weight: 550;
}
body{
  font-family: 'Lato', sans-serif;
}

.description{
  color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-weight: 400;
line-height: 25px;
margin: 28px 0;
max-width: 430px;
}

section{
  margin: 0 160px;
}

.sec-title{
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-top: 110px;
}

/* style for header */
.header{
  background-color: rgba(229, 84, 115, 0.10);
  display: flex;
  justify-content: space-between;

}

.header-content{
  margin: 110px 0 0 160px;
  max-width: 470px;
}

.header-title{
  color: #272727;
font-size: 53px;
font-weight: 900;
}
.header-btn{
  margin-bottom: 80px;
}

.bg-img{
  width: 430px;
  height: 560px;
  margin: 35px 160px 0 0;
}

/* style for main */
.sec-description{
  text-align: center ;
  margin: 24px  auto 48px auto;
}


.flower-tree-sec{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.flower-tree img{
  width: 220px;
  height: 290px;
  padding: 70px 55px 0 55px;
}
#tree-1{
  border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
#tree-2{
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
#tree-3{
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.flower-tree{
  color: #272727;
text-align: center;
font-size: 18px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin: 30px 0;
}

/* style for hot deal section */
.hot-deal{
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin: 110px 0 0;
  padding: 0; 


}
.hot-deal-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 250px 30px;
}

.hot-deal-img{
  width: 220px;
  height: 290px;
}
.deal-title{
  color: #272727;
font-size: 30px;
font-weight: 800;
}
span{
  color: #E55473;
}
.hot-deal-content .btn-center{
  margin-left: 150px;
}
.sec-description {
  margin-bottom: 20px;
}

/* style for insta section */
.insta-img img{
  width: 242px;
  height: 260px;
}
.insta-img{
  display: flex ;
  justify-content: space-around;
  gap: 22px;
  padding: 0 160px;
}
/* style for subscribe banner */

.subscribe-banner{
  background-image: url(Rectangle\ 9.png);
  background-size: contain;
  margin: 0px 163px;
  background-repeat: no-repeat;
  /* background-position: center; */


}
.banner-content{
  display: block;
  text-align: center;



}
.banner-title{
  color: #272727;
font-size: 30px;
font-weight: 800;
margin-top: 150px;
padding: 80px 0 0;
margin: 120px 0 0;

}
#banner-description{
  line-height: 0px;
}
.banner-form input{
  margin: 40px 10px 100px 0;
  height: 40px;
  width: 400px;
  border: 0;
  border-radius: 8px;
  background: #FFF;

}
.banner-form{
  text-align: center;

}
::placeholder{
  color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-weight: 400;
padding: 10px;
}
footer{
  background: #111010;
  margin: 0 ;
  padding: 0;
  text-align: center;

}
.footer-title{
  color: #E55473;
  font-size: 30px;
  font-weight: 800;
  padding-top: 100px;
}
.footer-title span{
  color: white;
}
.footer-description{
  color: rgba(255, 255, 255, 0.90);
}
.copyright{
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 100px;
}
.review-content{
  display: flex;
  justify-content: space-around;
  margin: 0 80px;
}
.review img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 10px 5px #cc8194;
  margin: 15px;
}
.review{
  text-align: center;
  height: 350px;
  width: 250px;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 0 20px 8px #979192ad;
  background-color: #fff;
}
.review:hover{
  box-shadow: 0 0 20px 8px #db8c9aad;
}

.review-sections{
  background-color: rgba(165, 115, 126, 0.1);
  margin-bottom: 100px;
  text-align: center;
  border-radius: 8px;
}
.review-title{
  padding: 60px;
}
.review-btn{
  margin: 40px;
}
.icon-section{
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  margin-top: 100px;

}
.icon-description{
  color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 16px;
font-weight: 600;
line-height: 35px;
}
.icon-container img{
  text-align: center  ;
  margin: 0 50px;
  padding: 0;
  height: 70px;
  width: 70px;

}
.icon-container {
  gap: 20px;
  margin: 0 20px;
}
